*{
    margin:0px;
    padding:0px;
    font-family: 'Open Sans', sans-serif;
}
P{
    line-height:30px;
    color: gray;
}
header{
    background-image: url("images/banner/banner3.png");
    background-position: left;
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;    
    margin-bottom: 100px;
}
.heading-content{
    width: 650px;
    text-align: end;
    margin-right: 80px;
}
.heading-content h1{
    font-size:65px;
    font-weight: bold;
    color: #fff;

}
.heading-content p{
    color: #fff;
}
.btn{
    margin-top: 20px;
    background-color: #fff;
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    color:rgb(92, 92, 236);
    cursor: pointer;
}

.my-image img {

    width: 400px;
}
.section-1{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
.my-plane{
    width: 400px;
    margin-left: 70px;
}
.my-plane h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.my-plane p i{
    color:rgb(22,216,135);
    font-size: 15px;
    font-weight: bold;
}
/* section 2 My plane in this year */
.section-2{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.goals{
    display: flex;
    justify-content: center;
    align-items: center;
    


}
.goal{
    text-align: center;
    padding:50px;
}
.goal img{
    margin-bottom: 15px;
}
/* section 3 */
.section-3{
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 80px  0px;

}
.box{
    background: linear-gradient(45deg, #005FAC, transparent), url(images/watch.png);
    background-size: cover;
    width:800px;
   color: #fff;
}
.inner-box{
    padding: 40px  40px;
    width: 300px;
    
}
/* My section Start */
.my-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;

}
.about-me{
    
    margin-left: 50px;
    margin-top: 50px;


}
.about-me h1{
    margin-bottom: 20px;
}
/* footer section Styling */
footer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.footer-section{
    color: #fff;
 width: 800px;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 100px 0px;
 gap: 50px;

}
.contact img{
    margin: 5px;
    height:40px;
}
.subscribe input{
    width: 250px;
    height: 25px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}
.btn-box{
    margin-top: 20px;
    background-color: #fff;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    color:rgb(92, 92, 236);
    cursor: pointer;
}